:root{
    background-image: url(Images/background.jpeg);
}
header {
    background-image: url(Images/div_bg.jpeg);
    height:165px;
}

footer {
    height:50px;
    background-image: url(Images/div_bg.jpeg);
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
}

li {
    float:left;
}

li a {
    display:block;
    padding:8px;
    color:#3B3030;
    
    background-color:rgba(250,240,230,0.7);
    text-decoration:none;
}

a[href$="html"]:hover {
    transform: scale(1.2);
    color:rgb(147, 134, 134);
    text-decoration: underline;
}

a:link {
    color:blue;
}

a:hover {
    color:#3B3030;
}

a:visited {
    color:#3B3030;
}

h1, h2, h3{
    color:#3B3030;
}

h6 {
    color:white;
    text-align: center;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    text-align: center;
}

.services h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.services p {
    font-size: 0.9rem;
    background-color:rgba(237, 235, 235, 0.5);
    margin-bottom: 15px;
}

.heading {
    text-align: center;
}

p {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color:rgba(250,240,230,0.7);
    background-origin: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #3B3030;
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
}

.services {
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px 15px;
}

#video1{
    width:600px;
    height:600px; 
    transform: translate(400px);
}

#video2 {
    transform: translate(370px);
}

#imageone {
    height:200px;
    width:260px;
    padding:2px;
    margin:5px;
    float:left;
}

#imagetwo{
    height:200px;
    width:260px;
    padding:2px;
    margin:5px;
    float:right;
    
}

#logo{
    float:left;
    height:120px;
    width:120px;
    margin:30px;
}

#logo2{
    float:left;
    height:80px;
    width: 80px;
    margin:10px;
}

img[id^="help"] {
    margin:30px;
    height:170px;
    width:220px;
    border-radius: 5px;
}

#help1:hover, #help2:hover, #help3:hover, #help4:hover {
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

#help1{
    margin-left:170px;
}

.cat {
    background:url('Images/cat.jpeg') no-repeat -62px -72px; 
    width: 110px;
    height: 110px;;
    animation: wake 3s steps(2) infinite;
}

@keyframes wake {
    from{background-position-x:-62px;}
    to{background-position-x:-300px;}
}

#head{
    padding-top:50px;
    color:white;
}

#head2{
    color:white;
}

#head3{
    text-align:right;
}

#how{
    text-align: center;
}

#p1{
    padding-top:110px;
}

#p2{
    padding-top:100px;
    text-align: right;
}

#p3{
    text-align: center;

}

audio {
    transform: translate(560px);
}

audio::-webkit-media-controls-panel {
    background-color:rgb(48, 26, 11);
}

.app {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(250,240,230,0.7);
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding:30px; 
    box-sizing: border-box;  
}

.app h1 {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid rgb(48, 26, 11);
    padding-bottom: 20px;
}

.quiz h3 {
    font-size: 20px;
    font-weight: 550;
}

.btn {
    color: rgb(48, 26, 11);
    background-color:rgba(0, 0, 0, 0.041);
    font-weight: 500;
    width: 100%;
    border: 1px solid rgb(48, 26, 11);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3b303067;
}

#next {
    background-color: rgb(48, 26, 11);
    color: rgba(250,240,230,0.7);
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
